.btn-style {
        position: relative;
        text-align: center;
        white-space: nowrap;
        font-size: 15px;
        line-height: 20px;
        border-radius: 8px;
        font-weight: 400;
        padding: 18px 35px 15px 35px;
}

.manage-job-table {
        .expired {
                color: red;
        }
        .active {
                color: #34a853;
        }
}
