@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 27% 98%;
    --foreground: 210 11% 13%;
    --card: 0 0% 100%;
    --card-foreground: 210 11% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 13%;
    --primary: 214 76% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 100% 49%;
    --secondary-foreground: 210 11% 13%;
    --muted: 192 27% 95%;
    --muted-foreground: 0 0% 41%;
    --accent: 192 27% 95%;
    --accent-foreground: 210 11% 13%;
    --destructive: 6 84% 49%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 14% 93%;
    --input: 220 14% 93%;
    --ring: 214 76% 46%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
